

    body {
     background-image: url("./background1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

    }
     .card:hover {
    transform: scale(1.4);
    z-index: 1;
  }

   .form {
    position: fixed;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 50px;
    z-index: 1;
  }

  .form-control {

  border: 1px solid #ccc;
  padding: 5px;
  width: 250px;
  border-radius:50px;
  background-color:#dfe2e7b0;

}
.form-control:hover{

 transform: scale(1.2);
    z-index: 1;
    }

.btn {
  /* CSS rules for the submit button */
  /* Example styles: */
  background-color: rgb(131 240 219 / 53%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius:5px;

}
.btn:hover{
 transform: scale(1.2);
    z-index: 1;
    }

.rotate-effect {
  color: rgba(0, 0, 0, 0.9);
  background: #ebe134;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  text-align: center;
  box-shadow: 5px 5px 15px 5px #000000;
  margin: 20px;
  border-radius: 50px;
  width:auto;
  position: fixed;
  z-index: 1;
  animation: rotateAnimation 5s linear infinite;
}






 @keyframes rotateAnimation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.card-body  {

background-color:rgb(181 194 135 / 97%);
box-shadow: 5px 5px 15px 5px #000000;
 border-radius:20px;
 margin:50px auto;
  z-index: 1;

}

